.login {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url('https://s1.1zoom.me/b5050/356/404010-svetik_3840x2400.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }